body {
    box-sizing: border-box;
}
.color1-azul{
    background-color: #41c1ba;
}

.color1-azul-oscuro{
    color: #0c1775 !important;
}

.borderC-darkBlue{
    border-color: #0c1775 !important;
}

.borderC-celeste{
    border-color: #41c1ba;
}

.color1-azulClarito{
    background-color: #ccf3f2;
}

.fondo{
    background-color: #f4f5f5;
}

.mi-icono {
    font-size: 20px; /* Ajusta el tamaño del ícono a 40 píxeles */
    line-height: 10; /* Establece la altura de la línea a 1 */
}