.color1-azul{
    background-color: #41c1ba;
}
.color1-azulclaro2{
    background-color: #62DDD6;
}
.color1-azul-oscuro{
    color: #0c1775;
}

.borderC-darkBlue{
    border-color: #0c1775;
}
.btn-primary{
    background-color: red;
}
.full-height {
    height: 100vh;
  }